.wrapper {
  position: relative;
  margin-bottom: 30px;

  .left_shadow {
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 50;
    width: 100px;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(16, 17, 24, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .right_shadow {
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    width: 100px;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 9%,
      rgba(16, 17, 24, 1) 100%
    );
  }
  .slider {
    padding: 20px 0 0 100px;
    @media screen and (max-width: 800px) {
      padding: 10px 20px;
    }
  }
}
.swiper-container {
  width: 380px;
}

@media screen and (max-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
