header {
    background: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(20px);
    padding: 10px 0;
    position: fixed;
    width: 100%;

    top: 0;
    z-index: 300;

    .flex {
        display: flex;
        align-items: center;


    }
}