.filmBlock {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;

  .filmCard:focus-visible .filmCardHover {
    opacity: 1;
  }

  .filmCard:hover .filmCardHover {
    opacity: 1;
  }

  .filmCard {
    position: relative;
    width: 230px;
    margin-bottom: 5px;
    display: block;

    .filmCardImg img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }

    .filmCardImg {
      width: 230px;
      height: 335px;

    }

    .filmCardHover {
      position: absolute;
      padding: 15px;
      color: white;
      flex-direction: column;
      inset: 0;
      border-radius: 5px;
      background-color: rgb(0, 0, 0, 0.8);
      transition: .5s;
      opacity: 0;

      .filmCardRating {
        font-size: 30px;
        margin-bottom: auto;
        border-radius: 100%;
      }





    }

    .filmCardInfo {
      .filmCardTitle {
        color: rgb(255, 255, 255);
        margin-top: 20px;

        .title {

          font-size: 20px;
          font-weight: bold;
        }
      }

      .filmCardGenre {
        margin-top: 5px;
        word-break: break-word;
        color: rgb(172, 172, 173);
      }
    }

  }

}