.card {
   display: flex; 
   flex-wrap: wrap;
}

.cardBlock {
   
  position: relative;
}

.cardBlock:hover {
   
}
.cardBlock img{
    
}
.filmTitle{
    position: absolute;
    top: 20px;
}
.cardBlockFilter:hover {
    position: absolute;
    z-index: 2;

  
}
.cardBlockImg:hover{
 background-color: rgba(0, 0, 0, 0.551);

}
.cardBlockFilter {

}