 .wrapper {
   position: relative;

   .left_shadow {
     left: 0;
     bottom: 0;
     top: 0;
     z-index: 10;
     width: 50px;
     position: absolute;
     background: rgb(0,0,0);
     background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
     
   }
   .right_shadow {
    right: 0;
     bottom: 0;
     top: 0;
     z-index: 10;
     width: 50px;
     position: absolute;
     background: rgb(255,255,255);
     background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%);
     
   }

    .slider {
      min-height: 200px;
      background-color: #1A1719;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .9s;
      border: solid 0.01px #4848487c;

      .slider_img {
        img {
          max-height: 100%;
        }
      }
    }

    .slider:hover {
      cursor: pointer;
      background-color: #2A292A;
      transform: scale(0.95);
    }

 }