.slider {
  min-height: 200px;
  background-color: #1A1719;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .9s;
  border: solid 0.01px #4848487c;

  .slider_img {
    img {
      max-height: 100%;
    }
  }
}

.slider:hover {
  cursor: pointer;
  background-color: #2A292A;
  transform: scale(0.95);
}