.mainWrap {
    .main {
        margin-bottom: 80px;

        .mainTitle {
            margin: 20px;

            .title {
                color: white;
                font-family: 'Jura', sans-serif;
                width: 40%;
                text-align: center;


            }
        }
    }

}