.blok__link {
  margin-top: 25px;

  .link:after {
    content: ">";
    transition: .5s;
    color: rgba(255, 255, 255, 0.692);
    position: relative;
    top: 2px;
    left: 10px;
  }

  .link:hover:after {
    content: ">";
    padding-left: 10px;
    color: red;
  }
}