.logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  .title {
    background: linear-gradient(
      to right,
      rgb(255, 0, 0),
      rgb(255, 255, 255) 50%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    @media (max-width: 650px) {
      display: none;
      // width: 100%;
    }
  }
}
