.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  .block {
    margin-bottom: 29px;
    position: relative;
    background-color: #2a2a3c;
    border-radius: 7px;
    padding: 20px;
    width: 45%;
    border: 0.1px solid #6b6b7752;
    // margin-bottom: 15px;
    @media screen and (max-width: 800px) {
      width: auto;
    }

    .subtitle {
      color: #ffffff;
      font-size: 24px;
      max-width: 80%;
    }

    .date {
      font-size: 18px;
      color: #a5a1b2;
      position: absolute;
      bottom: 10px;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 5px;

      .title {
        color: #a5a1b2;
        margin: 0;
      }

      .positiveRating {
        color: #29c240;
      }

      .negativeRating {
        color: #a5a1b2;
      }
      .container__grade {
        display: flex;
        justify-content: center;
        margin-right: 8px;
      }
      .container__grade:last-child {
        margin-right: 0;
      }
      .container__grade img {
        margin-right: 3px;
      }
    }

    .flex:last-child {
      padding-right: 0;
    }
  }

  .block button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
