.main {
  height: 100%;
  .title {
    font-size: calc(24px + 16 * (100vw / 1280));

    padding-top: 100px;
    margin: 0 auto;
    // max-width: 50%;
    color: white;
    text-align: center;
    @media (max-width: 650px) {
      padding-top: 50px;
      width: 100%;
    }
  }
}

.topFilm__title {
  display: flex;
  align-items: center;
  .title__img {
    width: 50px;
  }
}
