header {
    background: rgba(50, 50, 50, 0.21);
    backdrop-filter: blur(16.5px);

    .header__block {
        display: flex;
        align-items: center;

        .header__logo {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }
    }
}