.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.film__link:focus-visible .film__hover {
  opacity: 1;
  border: 2px solid rgb(255, 255, 255);
}

.film__link:hover .film__hover {
  opacity: 1;
  box-shadow: 0px 0px 15px 0px #f1efefa7;
}

.film__poster {
  width: 300px;
  height: 455px;
}

.film__poster-img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.film__link {
  position: relative;
  max-width: 300px;
  margin-bottom: 10px;
  display: block;
}

.film__hover {
  position: absolute;
  padding: 20px;
  color: white;
  flex-direction: column;
  inset: 0;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.8);
  transition: 0.5s;
  opacity: 0;
}
.title {
  word-wrap: break-word;
}

.film-info__title {
  font-size: 29px;
  color: white;
  margin: 20px 0;
}
.film__info {
  word-wrap: break-word;
}
.film-info__genre {
  margin-top: 5px;
  font-size: 20px;

  word-break: break-word;
  color: rgb(172, 172, 173);
}

.genre {
  text-transform: capitalize;
}
.padding {
  padding-top: 10px;
}
