* {
  font-family: 'Jura', sans-serif;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Jura', sans-serif;
}

body {
  font-family: 'Jura', sans-serif;
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-weight: 300;
  font-size: 16px;
  background-color: #101118;
  overflow-anchor: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  padding: 0 100px;
  background-color: var(--color-white);
  height: 100%;

  @media (max-width: 768px) {
    padding: 35px 15px 0 15px;
  }
}
.wrap__search {
  margin: 0 auto;
  padding: 0 250px;
  background-color: var(--color-white);
  height: 100%;

  @media (max-width: 768px) {
    padding: 35px 15px 0 15px;
  }
}

.bg {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.bg__fill {
  min-height: 100vh;
  width: 100%;
  background-color: #000000b0;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}
.example {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
  height: 100%;
}

.position {
  padding-top: 70px;
}

.title {
  font-size: 29px;
  color: white;
  font-weight: bold;
}
.pagination {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.flex {
  display: flex;
}
.search-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-padding {
  padding-top: 50px;
}
.active {
  color: aliceblue;
}
.error {
  color: rgb(230, 51, 51);
  font-size: 20px;
}
.block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  color: rgb(236, 50, 50);
}

.discription {
  white-space: pre-wrap;
}
.ant-skeleton-content {
  .ant-skeleton-title {
    background-image: linear-gradient(
      90deg,
      rgba(98, 98, 98, 0.284) 25%,
      rgba(80, 80, 80, 0.37) 75%
    ) !important;
  }
}
.swiper {
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
