.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -50%);
  // display: grid;
  // max-width: 100%;
  // margin: auto;
  // translate: (-50%, -50%);
  color: white;
  .position {
    // margin: auto;
    align-items: center;
    .img {
      margin-right: 35px;
      p {
        font-size: 36px;
      }
    }
  }
  .subtitle {
    font-size: 24px;
    color: #8a8a8a;
  }
  .link {
    font-size: 20px;
    color: white;
  }

  .link:after {
    content: '>';
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.692);
    margin: 7px;
    position: relative;
    top: 1px;
    left: 10px;
  }

  .link:hover:after {
    content: '>';
    padding-left: 10px;
    color: red;
  }
}
