.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
  .img {
    background-color: aliceblue;
    @media screen and (min-width: 380px) {
      margin: 10px 0;
    }
  }
}
