.footer {
	background-color: var(--color-dark);

	@media (max-width: 768px) {
		background-color: var(--color-light-dark);
	}




	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;

		@media (max-width: 576px) {
			flex-direction: column;
		}

		.connection {
			color: rgba(#fff, 0.5);

			.gmail {
				display: flex;
				align-items: center;
			}
		}

		.list {
			display: flex;
			align-items: center;

			@media (max-width: 576px) {
				margin: 40px 0;
			}
			.link{
				margin-right: 20px;
			}
			// .link:last-child{
			// 	margin-right: 0;

			// }
		}

		.copy {
			font-size: 14px;
			line-height: 14px;
			color: rgba(#fff, 0.5);
		}

	}
}

a {
	color: #ffffff87;
}