@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
*{
    margin: 0 auto;
    font-family: 'Jura', sans-serif;
}
body{
     background-color: rgb(20, 15, 15);
}.app-wrapper{
  
}
.app-wrapper-size{
    max-width: 1200px;

}

.app-wrapper-content{
background-image: url('../public/fon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
height: 100vh;
padding-top: 20px;
}

.slider-conteiner{
    width: 1200px;
}

